@import "./Global.scss";

.table-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 59.8%;
  background-color: $white;
  border: 2px solid $list-border-color;

  .name {
    width: 40%;
    color: $table-heading-color;
    font-weight: 600;
    text-transform: uppercase;
    font-size: $nav-font;
    margin-left: 3em;
  }

  .status {
    color: $table-heading-color;
    font-weight: 600;
    text-transform: uppercase;
    font-size: $nav-font;
  }
}

@media (max-width: 500px) {
  .table-heading {
    width: 79.6%;
  }
}
